# Ignore the following directories
**/__pycache__/
.pytest_cache/
config/**/_*.yaml
config/**/local.yaml
.codex/
.vscode/
.claude/

# Ignore all files with the following extensions
*.log
*.mp3
*.ogg
*.wav
*.flac
*.opus
*.osu
*.pt

# ENV
.env

# Cache
.cache/